/* Google Fonts */
@import url('htpps://fonts.googleapis.com/css2?family=Poppins');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Remove border on focus */
input:focus {
    border: none;
    outline: none;
}
/* shades of primary color */
:root {
    --clr-primary-1: #EFF6FF;
    --clr-primary-2: #dbeafe;
    --clr-primary-3: #bfdbfe;
    --clr-primary-4: #93c5fd;
    --clr-primary-5: #60a5fa;
    --clr-primary-6: #3b82f6;
    --clr-primary-7: #1d4ed8;
    --clr-primary-8: #1e40af;
    --clr-primary-9: #1e40af;
    --clr-primary-10: #1e3a8a;
    --clr-primary-11: #172554;
}
a {
    text-decoration: none;
    color: #2F4F4F;
  }
a:hover {
    cursor: pointer;
    color: var(--clr-primary-10);
}
header {
    width: 100%;
    height: 100vh;
    background-image: url('college-student-with-curly-hair-bristle-looking-concentrated-while-reading-something-important-book-holding-pen-chin-hard-working-man-being-involved-studying-working-hard-all-day.jpg');
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
  .header-content {
    margin-bottom: 150px;
    /* color: whitesmoke; */
    /* color: black; */
    text-align: center;
  }
  .header-content h2,h3 {
    font-size: 4vmin;
    margin-top: 50px;
    margin-bottom: 30px;
    color: black;
  }
  .line {
    width: 150px;
    height: 4px;
    background-color: var(--clr-primary-9);
    margin: 10px auto;
    border-radius: 5px;
  }
  .header-content h1{
    font-size: 7vmin;
  }
  .lnm{
    padding: 8px 15px;
    background: var(--clr-primary-9);
    border-radius: 30px;
    border: none;
    color: whitesmoke;
  }
  .lnm:hover{
    background-color: var(--clr-primary-3);
    cursor: pointer;
  }
  #search_here{
    padding: 8px;
    width: 30%;
    background-color: var(--clr-primary-3);
    border: none;
}
ul{
    list-style: none;
  }
  .active{
    color: var(--clr-primary-9);
    font-weight: bold;
  }
  .active:hover{
    text-decoration: underline;
    
  }
  /*............Navbar Section............  */
  .navbar{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    /* color: whitesmoke; */
  }
  .nav-links {
    display: flex;
    align-items: center;
  }
  .nav-links li{
    margin: 20px 30px;
  }
  .nav-anchor{
    color: black;
  }
  .nav-links li:hover{
    color: var(--clr-primary-9);
  }
  /* ======logo====== */
  .video-logo {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 100px;
    height: auto; /* Maintain aspect ratio */
    overflow: hidden;
  }
  .video-logo video {
    width: 100%; /* Fit to container */
    height: auto; /* Maintain aspect ratio */
  }
  .menuIcon{
    position: absolute;
    top: 30px;
    right: 30px;
    width: 40px;
    cursor: pointer;
    display: none;
  }
  /* =========Research Material Section======= */
section{
    width: 100%;
    text-align: center;
    color: #2F4F4F;
  }
  section h1{
    padding-top: 30px;
  }
  .line-two {
    width: 80%;
    height: 2px;
    background-color: var(--clr-primary-9);
    margin: 10px auto;
    border-radius: 5px;
  }
  .needHelp{
    color: var(--clr-primary-8);
  }
  .needHelp h3{
    margin: 15px auto;
  }
  /* ===========Explore Section====== */
   .explore{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(95.54deg, #93c5fd 0.2%, #3b82f6 38.18%, #1e3a8a 94.08%);
   }
  .row{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    position: relative;
  }
  .row a{
    line-height: 40px;
    color: whitesmoke;
  }
  .row a:hover{
    color: black;
  }
  .header-content {
    position: absolute;
    /* color: whitesmoke; */
    text-align: center;
  }
  .header-content-two {
    position: absolute;
    /* color: whitesmoke; */
    text-align: center;
    top: 0;
  }
  /* ======Blog Section */
  .blog{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: var(--clr-primary-1);
  }
  .blogPic{
    width: 80%;
  }
  .card{
    width: 80%;
    margin: 0 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
  }
  .card:hover {
    /* On mouse-over, add a deeper shadow */
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
  .footer{
    background-color: var(--clr-primary-3);
  }
  .footer p:nth-of-type(1){
    padding: 10px;
  }
  .footer-line{
    width: 100%;
    height: 2px;
    background-color: var(--clr-primary-9);
    margin: 0 auto;
    border-radius: 5px;
  }


  /* ==============================Mobile Responsiveness========================= */
@media only screen and (max-width:850px){
    .menuIcon{
      display: block;
    }
    .navbar{
      padding: 0;
      z-index: 1000;
    }
    .nav-links{
      flex-direction: column;
      width: 100%;
      height: 100vh;
      justify-content: center;
      /* background: var(--clr-primary-3); */
      background: grey;
      margin-top: -900px;
      transition: all 0.5s ease;
    }
    .mobile-menu{
        margin-top: 0px;
        border-bottom-right-radius: 30%;
        
      }
      .nav-links li{
        margin: 15px auto;
      }
      /* explore section */
      .explore{
        height: 100%;
      }
      .row{
        flex-direction: column;
        margin: 30px auto;
      }
      .col{
        margin: 20px auto;
      }
      .first-col{
        margin-top: 50px;
      }
      
      /* Blog Section */
      .blogPic{
        display: none;
      }
      .blog{
        width: 100%;
        height: 50vh;
        background-image: url('old-fashioned-flat-lay-with-stack-antique-leather-bound-books-against-dark-wall-literature-reading-education-concept-retro-vintage-style-copyspace-your-ad-antique-archive.jpg');
        background-position: center bottom;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        color: rgb(218, 206, 206);
        justify-content: center;
        position: relative;
      }
      .card{
        position: absolute;
        top: 0;
      }
}
@media only screen and (max-width:425px){
.first-col{
  margin-top: 80px;
}
}